@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#wrapper {
  flex:1
}

.footer {
  padding: 2rem 1rem 2rem !important;
}
